body {
    font-family: 'Nunito', sans-serif !important;
}

a {
    text-decoration: none;
    color: inherit;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

input:focus, select:focus, textarea:focus, button:focus {
    box-shadow: none !important;
}
