.action-item {
    height: 100%;
    color: white;
    transition: all 0.3s;
    background: linear-gradient(to left, #a1a1fd, #6969fd, #a1a1fd);
    box-shadow: rgb(180, 179, 179, 0.8) 3px 3px 4px;
}

.action-item:hover {
    transform: scale(1.03);
}
